In [1]:
import pandas as pd
import requests

In [2]:
df_holidays = []

for year in range(2012, 2025):  
    url = f"https://date.nager.at/api/v3/publicholidays/{year}/US"
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()
        df = pd.DataFrame(data)
        df_holidays.append(df)
    else:
        print(f"Error: {response.status_code}")

df_holidays = pd.concat(df_holidays, ignore_index=True)
df_holidays_NY = df_holidays[df_holidays['counties'].apply(lambda x: any('NY' in c for c in x) if isinstance(x, list) else False) | df_holidays['global'] == True]
df_holidays_NY = df_holidays_NY[['date','name']]

In [3]:
url = "https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=DOWNLOAD"
df_collisions = pd.read_csv(url)

C:\Users\skhaled\AppData\Local\Temp\ipykernel_26684\3316927861.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_collisions = pd.read_csv(url)

In [4]:
df_collisions['CRASH DATE'] = pd.to_datetime(df_collisions['CRASH DATE'])
df_holidays_NY['date'] = pd.to_datetime(df_holidays_NY['date'])

In [ ]:
df_collisions = df_collisions.merge(df_holidays_NY,how='left',left_on='CRASH DATE',right_on='date')
df_collisions.drop(columns='date',inplace=True)
#df_collisions[df_collisions['name'].notna()]

In [6]:
df_collisions['ZIP CODE'] = df_collisions['ZIP CODE'].astype(str)
df_collisions.to_parquet("collisions_data.parquet", index=False)

In [ ]:
#df_collisions[df_collisions['name'].notna()]

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,name
258,2021-09-06,10:34,NaN,nan,40.764103,-73.932770,"(40.764103, -73.93277)",21 STREET,33 ROAD,NaN,...,NaN,NaN,NaN,4456550,Sedan,Sedan,NaN,NaN,NaN,Labor Day
290,2021-09-06,13:26,STATEN ISLAND,10314.0,40.591778,-74.127340,"(40.591778, -74.12734)",NaN,NaN,1466 MANOR ROAD,...,NaN,NaN,NaN,4456742,Sedan,NaN,NaN,NaN,NaN,Labor Day
312,2021-07-05,17:20,BROOKLYN,11208.0,40.683754,-73.885650,"(40.683754, -73.88565)",ELTON STREET,JAMAICA AVENUE,NaN,...,NaN,NaN,NaN,4456628,E-Bike,NaN,NaN,NaN,NaN,Independence Day
354,2021-07-05,6:00,QUEENS,11434.0,40.686510,-73.768150,"(40.68651, -73.76815)",BAISLEY BOULEVARD,119 ROAD,NaN,...,NaN,NaN,NaN,4456651,Sedan,Sedan,NaN,NaN,NaN,Independence Day
372,2021-07-05,0:16,QUEENS,11691.0,40.593120,-73.772705,"(40.59312, -73.772705)",EDGEMERE AVENUE,BEACH 41 STREET,NaN,...,NaN,NaN,NaN,4456705,Sedan,NaN,NaN,NaN,NaN,Independence Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2151605,2024-12-25,8:30,QUEENS,11433.0,40.701210,-73.788040,"(40.70121, -73.78804)",NaN,NaN,168-46 105 AVE,...,NaN,NaN,NaN,4782571,Sedan,Sedan,NaN,NaN,NaN,Christmas Day
2151620,2024-12-25,13:54,NaN,nan,40.800983,-73.929270,"(40.800983, -73.92927)",TRIBOROUGH BRIDGE,NaN,NaN,...,NaN,NaN,NaN,4782592,Sedan,Sedan,NaN,NaN,NaN,Christmas Day
2151644,2024-12-25,21:21,BRONX,10463.0,40.878110,-73.901245,"(40.87811, -73.901245)",HEATH AVE,SUMMIT PL,NaN,...,NaN,NaN,NaN,4782602,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,Christmas Day
2155725,2024-11-11,21:15,BROOKLYN,11236.0,40.640000,-73.901930,"(40.64, -73.90193)",E 93 ST,AVENUE J,NaN,...,Unspecified,NaN,NaN,4770591,CARGO VAN,Sedan,Sedan,NaN,NaN,Veterans Day
2155963,2015-02-16,12:25,NaN,nan,40.572887,-74.167960,"(40.572887, -74.16796)",NaN,NaN,2975 RICHMOND AVE,...,NaN,NaN,NaN,4792960,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,Presidents Day